<div class="container" id="lettercontent">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img id="logo" src="assets/img/letterlogo.jpg" style="height: 128px;">
                <h6>ใบแจ้งขอความร่วมมือเพื่อรณรงค์การใช้ความเร็วไม่เกิน 50
                    กิโลเมตรต่อชั่วโมงภายในสถานศึกษา
                    มหาวิทยาลัยขอนแก่น</h6>
            </div>
            <p>สถานที่ออกใบแจ้งฯ : กองป้องกันและรักษาความปลอดภัยมหาวิทยาลัยขอนแก่น<br>
                Issuing Place :<br>
                เลขที่: 123456/6543211 รหัส: 12345
            </p>
            <hr>
            <p>ข้อมูลรถ (Vehicle In formation)<br>
                หมายเลขทะเบียนรถ: ฎณ6501 จังหวัด: กรุงเทพมหานคร<br>
                สี: black ประเภท: รถยนต์
            </p>
            <hr>
            <p>
                ชื่อผู้ครอบครอง<br>
                (Driver’s name, Owen or possessor)<br>
                เลขประจำตัวประชาชน: ................................................<br>
                Email: ..........................................................................
            </p>
            <hr>
            <p>เหตุการณ์(Event) : <span id="eventtext">ขับรถเกินกว่าความเร็วที่กำหนด ที่ 50 กิโลเมตร
                    ต่อชั่วโมง</span><br>
                วันที่เกิดเหตุ : 29 กันยายน 2565 เวลา : 17.15 น.
                (Date of incident)<br>
                สถานที่ : บริเวณ 3แยก ป่าดู่<br>
                Place of incident<br>
            </p>
            <hr>
            <p class="text-center"><b>คำชี้แจง (Explanation)</b></p>
            <p>
                จึงขอความร่วมมือเพื่อรณรงค์การใช้ความเร็วไม่เกิน 50 กิโลเมตรต่อชั่วโมง
                และเพื่อความปลอดภัยในการขับขี่ต่อตนเองและเพื่อนร่วมทางภายในสถานศึกษา มหาวิทยาลัยขอนแก่น<br>
                : ติดต่อทางโทรศัพท์หมายเลข 043202191<br>
                กองป้องกันและรักษาความปลอดภัย มหาวิทยาลัยขอนแก่น
            </p>
        </div>
        <div class="col" id="rightcolum">
            <h6><b>ภาพประกอบพยานหลักฐาน (Evidence)</b>
            </h6>
            <p>ความเร็ว (Your Speed)<br>
                ความเร็วที่ใช้ตามวัน เวลา สถานที่ดังกล่าว คือ<br>
                Your Speed : 53 km/hr
            </p>
        </div>
    </div>
    <div class="text-center" style="padding-top: 1rem;"><small>มหาวิทยาลัยขอนแก่น 123 หมู่ 16 ถ.มิตรภาพ ต.ในเมือง
            อ.เมือง
            จ.ขอนแก่น 40002
            โทรศัพท์
            043-009700, 043-002539 โทรสาร 043-202216 Email: info@kku.ac.th</small>
    </div>
</div>