.container {
  background-color: white;
  max-width: 870px;
  padding: 1rem;
}
#logo {
  padding-bottom: 1rem;
}
#eventtext {
  color: red;
}
#rightcolum {
  border-left: 2px solid black !important;
}
hr {
  height: 2px;
  background: black;
}
