<div class="container">
  <div class="header-section row">
    <div class="col-10">
      <div class="component-title">สถิติแยกตามรายเดือน</div>
      <div class="component-subtitle">สถิติแยกรายเดือน ของภาพรวมทั้งหมด</div>
    </div>
    <div class="col-2 right-button">
      <button mat-mini-fab class="print-icon-button noprint" aria-label="print to pdf" (click)="print()" disabled>
        <mat-icon svgIcon="printer"></mat-icon>
      </button>
    </div>
  </div>
  <app-filter-time-speed></app-filter-time-speed>


  <apx-chart class="apx-chart" [series]="chartOptions.series!" [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!" [title]="chartOptions.title!" [colors]="chartOptions.colors">
  </apx-chart>


</div>