<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">{{'month.title'}}</div>
        <div class="component-subtitle">{{'month.subtitle'}}</div>
      </div>
      <div class="lic-spacer"></div>
    </div>
  </div>
  <app-filter-time-speed [isSum]="true" [car]="car" [bike]="bike" [o50]="o50" [o50car]="o50car"
    [o50car_per]="o50car_per" [o50bike]="o50bike" [o50bike_per]="o50bike_per"
    (searchedDataEvent)="searchedDataEvent($event)" (printDataEvent)="printDataEvent($event)"></app-filter-time-speed>
  <apx-chart class="apx-chart" [series]="chartOptions.series!" [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!" [title]="chartOptions.title!" [colors]="chartOptions.colors">
  </apx-chart>
</div>