<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">{{'month.title'|translate}}</div>
        <div class="component-subtitle">{{'month.title'|translate}}</div>
      </div>
      <div class="lic-spacer"></div>
    </div>
  </div>
  <app-filter-time-speed [isSum]="true" [car]="car" [bike]="bike" [o50]="o50" [o50car]="o50car"
    [o50car_per]="o50car_per" [o50bike]="o50bike" [o50bike_per]="o50bike_per"
    (searchedDataEvent)="searchedDataEvent($event)" (printDataEvent)="printDataEvent($event)"></app-filter-time-speed>
  <div class="card">
    <div class="chart-container" style="display: block; height:566px">
      <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>