@media print {
  .apx-chart {
    min-height: 100%;
    max-width: 100% !important;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
  }
  .card-tab {
    height: auto !important;
  }
}
