
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$kkupalette-primary: (
  50 : #f4e7e5,
  100 : #e5c4bd,
  200 : #d39d92,
  300 : #c17666,
  400 : #b45845,
  500 : #a73b24,
  600 : #9f3520,
  700 : #962d1b,
  800 : #8c2616,
  900 : #7c190d,
  A100 : #ffb4ad,
  A200 : #ff857a,
  A400 : #ff5547,
  A700 : #ff3e2e,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$kkupalette-accent: (
    50 : #fdebe9,
    100 : #f9cec8,
    200 : #f5ada3,
    300 : #f18c7e,
    400 : #ee7363,
    500 : #eb5a47,
    600 : #e95240,
    700 : #e54837,
    800 : #e23f2f,
    900 : #dd2e20,
    A100 : #ffffff,
    A200 : #ffe3e1,
    A400 : #ffb3ae,
    A700 : #ff9b95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$license-backoffice-primary: mat.define-palette($kkupalette-primary,900);
//$license-backoffice-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$license-backoffice-accent: mat.define-palette($kkupalette-accent,900);


// The warn palette is optional (defaults to red).
$license-backoffice-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$license-backoffice-theme: mat.define-light-theme((
  color: (
    primary: $license-backoffice-primary,
    accent: $license-backoffice-accent,
    warn: $license-backoffice-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($license-backoffice-theme);
