@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "BaiJamjuree", Arial, Helvetica, sans-serif; }

@font-face {
    font-family: "BaiJamjuree";
    src: local("BaiJamjuree"), url(./assets/fonts/BaiJamjuree-Medium.ttf) format("truetype");
}