<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">สีรถที่เข้าใช้บริการ</div>
        <div class="component-subtitle">
          สีรถที่เข้าใช้บริการทั้งหมด ของรถแต่ละประเภทรถ
        </div>
      </div>
      <div class="lic-spacer"></div>
      <!-- <div class="p-2 align-self-center">
        <button mat-mini-fab class="print-icon-button noprint" aria-label="print to pdf" (click)="print()">
          <mat-icon svgIcon="printer"></mat-icon>
        </button>
      </div> -->
    </div>
    <!-- <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-red">
        <div class="card-body">
          <p class="card-text card-summation-red-text">รถยนต์</p>
          <h4 class="card-title card-summation-red-text">{{ car | number }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-white">
        <div class="card-body">
          <p class="card-text card-summation-white-text">จักรยานยนต์</p>
          <h4 class="card-title card-summation-white-text">{{ bike | number }}</h4>
        </div>
      </div>
    </div> -->
  </div>
  <app-filter-time-speed [isSum]="true" [car]="car" [bike]="bike" [o50]="o50" [o50car]="o50car"
  [o50car_per]="o50car_per" [o50bike]="o50bike" [o50bike_per]="o50bike_per" (searchedDataEvent)="searchedDataEvent($event)" (printDataEvent)="printDataEvent($event)"></app-filter-time-speed>
  <!-- <div class="row" style=" margin-bottom: 1rem;">
    <div class="col-sm-6 col-lg-2">
      <div class=" car-sum"> <span>รถยนต์ {{ car | number }} คัน</span></div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class=" car-sum"> <span>จักรยานยนต์ {{ bike | number }} คัน</span></div>

    </div>

  </div> -->
  <div class="card chart-container ">
    <div class="card-body">
      <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins">
      </canvas>
    </div>
  </div>
</div>
