<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">{{'color.title'|translate}}</div>
        <div class="component-subtitle">{{'color.subtitle'|translate}}</div>
      </div>
      <div class="lic-spacer"></div>
    </div>
  </div>
  <app-filter-time-speed [isSum]="true" [car]="car" [bike]="bike" [o50]="o50" [o50car]="o50car"
    [o50car_per]="o50car_per" [o50bike]="o50bike" [o50bike_per]="o50bike_per"
    (searchedDataEvent)="searchedDataEvent($event)" (printDataEvent)="printDataEvent($event)"></app-filter-time-speed>

  <div class="card chart-container ">
    <div class="card-body">
      <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
      </canvas>
    </div>
  </div>
</div>