<div align="center">
  <div class="component-title">{{'users.dialog.delete.title'|translate}}</div>
</div>
<div mat-dialog-content align="center">
  <br />
  <p>
    {{'users.dialog.delete.subtitle'|translate}} <b>{{ data.username }}</b> {{'users.dialog.delete.question'|translate}}
  </p>
</div>
<form (ngSubmit)="onSubmit()">
  <div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>{{'users.dialog.delete.cancle'|translate}}</button>
    <div class="flex-spacer lic-spacer"></div>
    <button mat-flat-button cdkFocusInitial color="primary" type="submit">
      {{'users.dialog.delete.confirm'|translate}}
    </button>
  </div>
</form>