<div class="container">
  <div class="component-title">สถิติแยกตามรายชั่วโมง</div>
  <div class="component-subtitle">สถิติแยกรายชั่วโมง ของภาพรวมทั้งหมด</div>
  <app-filter-time-speed></app-filter-time-speed>
  <div class="card">
    <div class="card-body">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="กราฟแท่ง">
          <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </mat-tab>
        <mat-tab label="กราฟปริมาณ">Content 2</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>