<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">สถิติแยกตามรายชั่วโมง</div>
        <div class="component-subtitle">สถิติแยกรายชั่วโมง ของภาพรวมทั้งหมด</div>
      </div>
      <div class="lic-spacer"></div>
      <div class="p-2 align-self-center">
        <button mat-mini-fab class="print-icon-button noprint" aria-label="print to pdf" (click)="print()">
          <mat-icon svgIcon="printer"></mat-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-red">
        <div class="card-body">
          <p class="card-text card-summation-red-text">รถยนต์</p>
          <h4 class="card-title card-summation-red-text">{{ car | number }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-white">
        <div class="card-body">
          <p class="card-text card-summation-white-text">จักรยานยนต์</p>
          <h4 class="card-title card-summation-white-text">{{ bike | number }}</h4>
        </div>
      </div>
    </div>
  </div>
  <app-filter-time-speed></app-filter-time-speed>
  <div class="card">
    <div class="card-body">
      <div class="chart-container" style="display: block; height:566px">
        <canvas #barchart baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>