<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">{{'hour.title'|translate}}</div>
        <div class="component-subtitle">{{'hour.subtitle'|translate}}</div>
      </div>
      <div class="lic-spacer"></div>
    </div>
  </div>

  <div class="searchbox row">
    <mat-form-field class="col-md-3" appearance="outline">
      <mat-label>{{'filter.datelayer'|translate}}</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate [(ngModel)]="datepickerInput1" formControlName="start"
          placeholder="{{'filter.date-start'|translate}}" />
        <input [(ngModel)]="datepickerInput2" matEndDate formControlName="end"
          placeholder="{{'filter.date-end'|translate}}" /> </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error
        *ngIf="range.controls.start.hasError('matStartDateInvalid')">{{'filter.date-start-wrong'|translate}}</mat-error>
      <mat-error
        *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{'filter.date-end-wrong'|translate}}</mat-error>

    </mat-form-field>

    <mat-form-field class="col-md-2" appearance="outline">
      <mat-label>{{'filter.speed-start'|translate}}</mat-label>
      <input matInput [(ngModel)]="speedInputA" type="number" min="0" placeholder="0" />
    </mat-form-field>
    <mat-form-field class="col-md-2" appearance="outline">
      <mat-label>{{'filter.speed-end'|translate}}</mat-label>
      <input matInput [(ngModel)]="speedInputB" type="number" min="0" placeholder="120" />
    </mat-form-field>
    <div class="row" style=" margin-bottom: 1rem;">
      <div class="col-lg-8 col-md-12" style="margin-bottom: 8px;">
        <div class="row">
          <div class="col-3" style="margin-bottom: 8px;">
            <div class=" car-sum"> <span>{{'car'|translate}} {{ car | number }} {{'car-unit'|translate}}</span></div>
          </div>
          <div class="col-3">
            <div class=" car-sum"> <span>{{'bike'|translate}} {{ bike | number }} {{'car-unit'|translate}}</span></div>
          </div>
          <div class="col-3">
            <div class=" car-sum"> <span>{{'total'|translate}} {{ car+bike | number }} {{'car-unit'|translate}}</span>
            </div>
          </div>
          <div class="col-6">
            <div class=" car-sum"> <span>{{'filter.over'|translate}} {{ o50 | number }}
                {{'car-unit'|translate}}</span></div>
          </div>
          <div class="col-3">
            <div class=" car-sum"> <span>{{'car'|translate}} {{ o50car | number }} ({{ o50car_per | number:'1.0-0'
                }}%)</span></div>
          </div>
          <div class="col-3">
            <div class=" car-sum"> <span>{{'bike'|translate}} {{ o50bike | number }} ({{ o50bike_per | number:'1.0-0'
                }}%)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="hidden-print d-flex align-items-center justify-content-end" style="padding-bottom: 22px;">
          <button mat-flat-button color="primary" (click)="search()"
            style="margin-right: 5px;width: 120px!important;min-width: unset!important;">
            {{'filter.search'|translate}}
          </button>
          <button mat-flat-button color="accent" (click)="clearFilter()"
            style="margin-right: 5px;width: 120px!important;min-width: unset!important;">
            {{'filter.clear-search'|translate}}
          </button>
          <img (click)="print()" style="cursor: pointer" src="/assets/img/print_bt.png">
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="chart-container" style="display: block; height:566px">
        <canvas #barchart baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>