<header class="navbar fixed-top noprint">
  <div class="header-section">
    <img class="logo" src="assets/img/logo.png" />
    <!-- <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a> -->
    <div class="header-text">
      <span class="header-title">{{ title }}</span><br />
      <span class="header-subtitle">{{ subtitle }}</span>
    </div>
  </div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="d-flek overflow-auto col-md-4 col-lg-3 col-xl-2 d-md-block sidebar collapse noprint">
      <div class="position-sticky pt-1">
        <ul class="list-unstyled ps-0 mb-auto">
          <div class="sidebar-divider-space">{{'menu.dashboard-hr'|translate}}</div>
          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/dashboard') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/dashboard'">
              <mat-icon svgIcon="dashboard"></mat-icon>
              {{'menu.dashboard'|translate}}
            </a>
          </li>
          <div class="sidebar-divider-space">{{'menu.detail-hr'|translate}}</div>

          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/license') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/license'">
              <mat-icon svgIcon="license"></mat-icon>
              {{'menu.list'|translate}}
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/color') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/color'">
              <mat-icon svgIcon="color"></mat-icon>
              {{'menu.color'|translate}}
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/type') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/type'">
              <mat-icon svgIcon="type"></mat-icon>
              {{'menu.type'|translate}}
            </a>
          </li>
          <div class="sidebar-divider-space">{{'menu.stat-hr'|translate}}</div>

          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/speed') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/speed'">
              <mat-icon svgIcon="speed"></mat-icon>
              {{'menu.speed'|translate}}
            </a>
          </li>

          <li class="nav-item" [ngClass]="{
              'bar-title':
                href.includes('/hour-heat') || href.includes('/hour-bar')
            }">
            <a class="nav-link toggle collapsed" data-bs-toggle="collapse" data-bs-target="#hour-collapse"
              aria-expanded="true" [routerLinkActive]="['is-active']">
              <mat-icon svgIcon="hour"></mat-icon>
              {{'menu.hour'|translate}}
            </a>
            <div class="collapse" id="hour-collapse">
              <ul class="toggle-nav list-unstyled">
                <li>
                  <a class="nav-link" style="margin-left: 4rem"
                    [routerLink]="'/hour-heat'">{{'menu.heat-chart'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link" style="margin-left: 4rem"
                    [routerLink]="'/hour-bar'">{{'menu.bar-chart'|translate}}</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/hour-bar'">
              <mat-icon svgIcon="month"></mat-icon>
              รายชั่วโมง
            </a>
          </li> -->
          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/day') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/day'">
              <mat-icon svgIcon="month"></mat-icon>
              {{'menu.day'|translate}}
            </a>
          </li>

          <li class="nav-item" [ngClass]="{
              'bar-title':
                href.includes('/month-heat') || href.includes('/month-bar')
            }">
            <a class="nav-link toggle collapsed" data-bs-toggle="collapse" data-bs-target="#month-collapse"
              aria-expanded="true" [routerLinkActive]="['is-active']">
              <mat-icon svgIcon="month"></mat-icon>
              {{'menu.month'|translate}}
            </a>
            <div class="collapse" id="month-collapse">
              <ul class="toggle-nav list-unstyled">
                <li>
                  <a class="nav-link" style="margin-left: 4rem"
                    [routerLink]="'/month-pie'">{{'menu.pie-chart'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link" style="margin-left: 4rem"
                    [routerLink]="'/month-heat'">{{'menu.heat-chart'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link" style="margin-left: 4rem"
                    [routerLink]="'/month-bar'">{{'menu.bar-chart'|translate}}</a>
                </li>
              </ul>
            </div>
          </li>
          <div class="sidebar-divider-space">{{'menu.count-hr'|translate}}</div>

          <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/people') }">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/people'">
              <mat-icon svgIcon="hour"></mat-icon>
              {{'menu.hour'|translate}}
            </a>
          </li>

          <div>
            <div class="sidebar-divider-space">{{'menu.setting-hr'|translate}}</div>
            <li class="nav-item" [ngClass]="{ 'bar-title': href.includes('/setting') }">
              <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/setting'">
                <mat-icon svgIcon="setting"></mat-icon>
                {{'menu.setting'|translate}}
              </a>
            </li>
            <li *ngIf="isAdmin" class="nav-item" [ngClass]="{ 'bar-title': href.includes('/users') }">
              <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/users'">
                <mat-icon svgIcon="user"></mat-icon>
                {{'menu.users'|translate}}
              </a>
            </li>
          </div>
          <div class="lic-spacer"></div>
        </ul>
        <ul class="list-unstyled ps-0">
          <li class="nav-item">
            <a class="nav-link logout" (click)="logout()">
              <mat-icon svgIcon="logout"></mat-icon>
              {{'menu.logout'|translate}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="main-component col-md-8 ms-sm-auto col-lg-9 col-xl-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>