<header class="navbar fixed-top">
  <div class="header-section">
    <img class="logo" src="assets/img/logo.png" />
    <!-- <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a> -->
    <div class="header">
      <span class="header-title">{{ title }}</span><br />
      <span class="header-subtitle">{{ subtitle }}</span>
    </div>
  </div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="overflow-auto col-md-4 col-lg-3 col-xl-2 d-md-block sidebar collapse ">
      <div class="position-sticky pt-1">
        <div class="sidebar-divider-space">ภาพรวม</div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/dashboard'">
              <mat-icon svgIcon="dashboard"></mat-icon>
              รายละเอียด
            </a>
          </li>
        </ul>
        <div class="sidebar-divider-space">จำนวนตามรายละเอียด</div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/license'">
              <mat-icon svgIcon="license"></mat-icon>
              รายชื่อ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/color'">
              <mat-icon svgIcon="color"></mat-icon>
              สีรถ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/type'">
              <mat-icon svgIcon="type"></mat-icon>
              ประเภทรถ
            </a>
          </li>
        </ul>
        <div class="sidebar-divider-space">จำนวนตามสถิติ</div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/speed'">
              <mat-icon svgIcon="speed"></mat-icon>
              ความเร็วรถ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/hour'">
              <mat-icon svgIcon="hour"></mat-icon>
              รายชั่วโมง
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/day'">
              <mat-icon svgIcon="month"></mat-icon>
              รายวัน
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/month'">
              <mat-icon svgIcon="month"></mat-icon>
              รายเดือน
            </a>
          </li>
        </ul>
        <div class="sidebar-divider-space">ตั้งค่า</div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="'/users'">
              <mat-icon svgIcon="user"></mat-icon>
              ผู้ใช้งาน
            </a>
          </li>
        </ul>
        <div class="sidebar-divider-space"></div>
        <ul class="nav flex-column">
          <li class="nav-item ">

            <a class="nav-link logout" (click)="logout()">
              <mat-icon svgIcon="logout"></mat-icon>
              ออกจากระบบ
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="main-component col-md-8 ms-sm-auto col-lg-9 col-xl-10 px-md-4 mt-5 pt-5">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>