@import '~bootstrap/dist/css/bootstrap.min.css';

.lic-spacer {
    flex: 1 1 auto;
  }
.lic-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
html, body, .material-app, .mat-sidenav-container {
  height: calc(100vh - 64px);
  width: 100%;
}