<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="lic-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="lic-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="lic-sidenav">
    <mat-nav-list>
      <div mat-subheader>ภาพรวม</div>
      <a mat-list-item [routerLink]="'/'">รายละเอียด</a>
      <div mat-subheader>จำนวนตามรายละเอียด</div>
      <a mat-list-item [routerLink]="'/license'">รายชื่อ</a>
      <a mat-list-item [routerLink]="'/color'"> สีรถ </a>
      <a mat-list-item [routerLink]="'/type'"> ประเภทรถ </a>
      <div mat-subheader>จำนวนตามสถิติ</div>
      <a mat-list-item [routerLink]="'/speed'"> ความเร็วรถ </a>
      <a mat-list-item [routerLink]="'/hour'"> รายชั่วโมง </a>
      <a mat-list-item [routerLink]="'/day'"> รายวัน </a>
      <a mat-list-item [routerLink]="'/month'"> รายเดือน </a>
      <div mat-subheader>ตั้งค่า</div>
      <a mat-list-item [routerLink]="'/users'"> ผู้ใช้งาน </a>
      <a mat-list-item [routerLink]="'/users'"> ออกจากระบบ </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
