<div class="container">
  <div class="header-sector">
    <h1>ชื่อผู้ใช้งาน</h1>
    <span class="lic-spacer"></span>
    <button mat-raised-button color="accent" class="rightbtn"><mat-icon>add</mat-icon> เพิ่มใหม่</button>
  </div>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
        </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</th>
        <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>นามสกุล</th>
        <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <!-- container Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>เบอร์โทรศัพท์</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no data-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter</td>
      </tr>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page of GitHub search results"
    ></mat-paginator>
  </div>
</div>
