:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

button {
  width: 100%;
}

.login-logo {
  background: #eb5a47;
  text-align: center;
  border-radius: 16px 0px 0px 16px;
}

.login-card {
  font-family: "BaiJamjuree" !important;
  width: 800px;
  height: 510px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-form {
  border: 2px solid #eb5a47;
  border-radius: 0px 16px 16px 0px;
  padding: 0px 75px;
}
.login-title {
  margin-top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.login-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}
.card-title {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 32px !important;
  text-align: center !important;
  color: #a73b24;
  margin-bottom: 61px;
  margin-top: 86px;
}
