<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex flex-row">
      <div class="mr-auto p-2">
        <div class="component-title">สถิติแยกตามความเร็วรถ</div>
        <div class="component-subtitle">สถิติแยกตามความเร็วรถ ของภาพรวมทั้งหมด</div>
      </div>
      <div class="lic-spacer"></div>
      <div class="p-2 align-self-center">
        <button mat-mini-fab class="print-icon-button noprint" aria-label="print to pdf" (click)="print()">
          <mat-icon svgIcon="printer"></mat-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-red">
        <div class="card-body">
          <p class="card-text card-summation-red-text">รถยนต์</p>
          <h4 class="card-title card-summation-red-text">{{ car | number }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-2">
      <div class="card card-summation-white">
        <div class="card-body">
          <p class="card-text card-summation-white-text">จักรยานยนต์</p>
          <h4 class="card-title card-summation-white-text">{{ bike | number }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <mat-form-field class="col-5" appearance="outline">
        <mat-label>ระหว่างวันที่</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate [(ngModel)]="datepickerInput1" formControlName="start" placeholder="เริ่มต้น" />
          <input [(ngModel)]="datepickerInput2" matEndDate formControlName="end" placeholder="สิ้นสุด" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">รูปแบบวันที่เริ่มต้นไม่ถูกต้อง
        </mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">รูปแบบวันที่สุดท้ายไม่ถูกต้อง</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3 d-flex align-items-center justify-content-center" style="padding-bottom: 22px;">
      <button mat-flat-button color="accent" (click)="clearFilter()" style="margin: 1rem;">
        ล้างการค้นหา
      </button>
      <button mat-flat-button color="primary" (click)="search()">
        ค้นหา
      </button>
    </div>
  </div>
  <div class="card chart-container">
    <div class="card-body">
      <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>

</div>