<div class="container">
  <div class="title-page">
    <h4>สถิติทั้งหมด</h4>
    <span class="sub-title">สถิติทั้งหมด ของรถแต่ละประเภท</span>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="card-red">
        <div>
          <h4 class="h4-red-card">ทั้งหมด</h4>
          <h1 class="h1-red-card">{{ car + moto | number }}</h1>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card-white">
        <div>
          <h4 class="h4-white-card">รถยนต์</h4>
          <h1 class="h1-white-card">{{ car | number }}</h1>
        </div>
        <div class="doughnut-chart">
          <canvas
            #chartCar
            baseChart
            [data]="barChartCarData"
            [options]="barChartCarOptions"
            [type]="doughnutChartType"
          >
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card-white">
        <div>
          <h4 class="h4-white-card">รถจักรยานยนต์</h4>
          <h1 class="h1-white-card">{{ moto | number }}</h1>
        </div>
        <div class="doughnut-chart">
          <canvas
            #chartMoto
            baseChart
            [data]="barChartMotoData"
            [options]="barChartMotoOptions"
            [type]="doughnutChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">สถิติในแต่ละชั่วโมง</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            5 ลำดับจากสถิติยี่ห้อรถ ของภาพรวมทั้งหมด
          </h6>
          <div style="display: block">
            <canvas
              #chartHour
              baseChart
              [data]="barChartHourData"
              [options]="barChartHourOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">สถิติในแต่ละเดือน</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            สถิตรถเข้าออกในแต่ละเดือน ของรถแต่ละประเภทรถ
          </h6>
          <div style="display: block">
            <canvas
              #chartMonth
              baseChart
              [data]="barChartMonthData"
              [options]="barChartMonthOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">สถิติในแต่ละวัน</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            5 ลำดับจากสถิติยี่ห้อรถ ของภาพรวมทั้งหมด
          </h6>
          <div style="display: block">
            <canvas
              #chartDay
              baseChart
              [data]="barChartDayData"
              [options]="barChartDayOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
