<div class="container">

  <div class="component-title">{{ 'dashboard.title' | translate}}</div>
  <div class="component-subtitle">{{ 'dashboard.subtitle' | translate}}</div>
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-2">
      <div class="card-red">
        <div>
          <h4 class="h4-red-card">{{ 'dashboard.card.all' | translate}}</h4>
          <h1 class="h1-red-card">{{ car + moto | number }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-2">
      <div class="card-white">
        <div>
          <h4 class="h4-white-card">{{ 'dashboard.card.car' | translate}}</h4>
          <h1 class="h1-white-card">{{ car | number }}</h1>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-2">
      <div class="card-white">
        <div>
          <h4 class="h4-white-card">{{ 'dashboard.card.bike' | translate}}</h4>
          <h1 class="h1-white-card">{{ moto | number }}</h1>
        </div>

      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-2">
      <div class="card-red">
        <div>
          <h4 class="h4-red-card">{{ 'dashboard.card.speed' | translate}}</h4>
          <h1 class="h1-red-card">{{ speedavg | number : '1.0-2' }} <h4 style="font-size: 26px;">km/hr</h4>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
      <div class="card-white-speed">
        <div class="row">
          <div class="col-6">
            <h6 class="h4-white-card">{{ 'dashboard.card.over' | translate}}</h6>
            <h1 class="h1-white-card">{{ over50 | number}} <h4 style="font-size: 26px;">({{ over50percent |
                number:'1.0-2'}}%)</h4>
            </h1>
          </div>
          <div class="col-6" style="">
            <div class="card-white-speed-small">
              <div class="card-body">
                <h6 class="card-title" style="color: #eb5a47 !important;">{{ 'dashboard.card.over-car' | translate}}
                </h6>
                <p class="card-text">{{ over50car | number: '1.0-0'}} ({{ over50percent_car |
                  number: '1.0-0'}}%)</p>
              </div>
            </div>
            <div class="card-white-speed-small">
              <div class="card-body">
                <h6 class="card-title" style="color: #eb5a47 !important;">{{ 'dashboard.card.over-bike' | translate}}
                </h6>
                <p class="card-text">{{ over50bike | number: '1.0-0'}} ({{ over50percent_bike |
                  number: '1.0-0'}}%)</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ 'dashboard.card.hour-title' | translate}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ 'dashboard.card.hour-subtitle' | translate}}
          </h6>
          <div style="display: block; height:424px">
            <canvas baseChart [data]="barChartHourData" [options]="barChartHourOptions" [type]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ 'dashboard.card.month-title' | translate}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ 'dashboard.card.month-subtitle' | translate}}
          </h6>
          <div style="display: block; height:250px">
            <canvas #chartMonth baseChart [data]="barChartMonthData" [options]="barChartMonthOptions"
              [type]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ 'dashboard.card.day-title' | translate}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ 'dashboard.card.day-subtitle' | translate}}
          </h6>
          <div style="display: block; height:250px">
            <canvas #chartDay baseChart [data]="barChartDayData" [options]="barChartDayOptions" [type]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>