<h1 mat-dialog-title>ข้อมูลผู้ใช้งานใหม่</h1>
<div mat-dialog-content>

    <mat-form-field class="col-6" appearance="legacy">
        <mat-label>ชื่อ</mat-label>
        <input matInput [(ngModel)]="firstname" type="text" />
    </mat-form-field>
    <mat-form-field class="col-6" appearance="legacy">
        <mat-label>นามสกุล</mat-label>
        <input matInput [(ngModel)]="lastname" type="text" />
    </mat-form-field>
    <mat-form-field class="col-6" appearance="legacy">
        <mat-label>เบอร์โทรศัพท์</mat-label>
        <input matInput [(ngModel)]="phone" type="text" />
    </mat-form-field>
    <mat-form-field class="col-6" appearance="legacy">
        <mat-label>อีเมล</mat-label>
        <input matInput [(ngModel)]="email" type="email" required />
    </mat-form-field>
    <mat-form-field class="col-12" appearance="legacy">
        <mat-label>ชื่อผู้ใช้งาน</mat-label>
        <input matInput [(ngModel)]="username" type="text" required />
    </mat-form-field>
    <mat-form-field class="col-12" appearance="legacy">
        <mat-label>รหัสผ่าน</mat-label>
        <input matInput [(ngModel)]="password" type="password" required />
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>ยกเลิก</button>
    <button mat-raised-button cdkFocusInitial color="accent" (click)="onSave()">
        <mat-icon>save</mat-icon> บันทึก
    </button>
</div>