<div class="container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>ระหว่างวันที่</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="เริ่มต้น" />
        <input matEndDate formControlName="end" placeholder="สิ้นสุด" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >รูปแบบวันที่เริ่มต้นไม่ถูกต้อง</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >รูปแบบวันที่สุดท้ายไม่ถูกต้อง</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>เลขทะเบียน</mat-label>
      <input matInput type="text" (keyup)="onChangeEvent($event, 'LicNo')" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ความเร็ว</mat-label>
      <input
        matInput
        type="number"
        min="0"
        (keyup)="onChangeEvent($event, 'Speed')"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>จังหวัด</mat-label>
      <mat-select
        [value]="defaultValue"
        (selectionChange)="applyLicenseFilter($event, 'Province')"
      >
        <mat-option *ngFor="let item of province" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>สี</mat-label>
      <mat-select
        [value]="defaultValue"
        (selectionChange)="applyLicenseFilter($event, 'Color')"
      >
        <mat-option *ngFor="let item of color" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ยี่ห้อ</mat-label>
      <mat-select
        [value]="defaultValue"
        (selectionChange)="applyLicenseFilter($event, 'Brand')"
      >
        <mat-option *ngFor="let item of brand" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- LicNo Column -->
      <ng-container matColumnDef="LicNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>เลขทะเบียน</th>
        <td mat-cell *matCellDef="let element">{{ element.LicNo }}</td>
      </ng-container>

      <!-- Province Column -->
      <ng-container matColumnDef="Province">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>จังหวัด</th>
        <td mat-cell *matCellDef="let element">{{ element.Province }}</td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>สี</th>
        <td mat-cell *matCellDef="let element">{{ element.Color }}</td>
      </ng-container>

      <!-- Brand Column -->
      <ng-container matColumnDef="Brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ยี่ห้อ</th>
        <td mat-cell *matCellDef="let element">{{ element.Brand }}</td>
      </ng-container>

      <!-- Speed Column -->
      <ng-container matColumnDef="Speed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ความเร็ว</th>
        <td mat-cell *matCellDef="let element">{{ element.Speed }}</td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>สถานที่</th>
        <td mat-cell *matCellDef="let element">{{ element.Location }}</td>
      </ng-container>

      <ng-container matColumnDef="aDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>A Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.aDate | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>B Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.bDate | date: "short" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no data-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter</td>
      </tr>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="12"
      aria-label="Select page of GitHub search results"
    ></mat-paginator>
  </div>
</div>
